page-password {
    .button-full {
        margin-top: 15px;
    }
    .form ion-item .text-input {
        padding-left: 5px;
    }
    .toolbar-content-ios .toolbar-title-ios {
        margin-top: 2px;
    }
}
